@media screen and (max-width:431px) {
    #ques-frame span{
        font-size: 2.7rem;
        transition: all 0.6s;
    }
    #ques-img{
        transition: all 0.6s;
        height: 250px;

    }
    #ques-frame{
        width: 100%;
        height: 300px;
        position:sticky;
        width:100%;
        border-radius:0%;
        border-bottom-left-radius:25%;
        border-bottom-right-radius:25%;
        overflow:auto;
        nimation: login-to-signup-mobile 1s forwards ease-in-out;
    }
    #login-frame{
        left: 50%;
        top: 60%;
        
        transform: translate(-57.5%,-50%);
        
    }

    #signup-frame{
        
        left: 50%;
        top: 60%;
        transition:all 0.6s;
        transform: translate(-57.5%,-50%);

    }
}


@keyframes login-to-signup-mobile {
    0%{
        position: relative;
    }
    30%{
        border-radius: 15%;
        scale:1.3;
    }
    100%{
        transform: translate(0%,215%) rotateY(360deg);
        border-radius: 0%;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
    }
}

#login-frame{
    animation:none;
    transition: all 0.6s;
}
@keyframes login-frame-animation-mobile-1{

    from{
        position: relative;
        transform: translate(-57.5%,-50%);
    }
    to{
        position: absolute;
        transform: translate(-57.5%,250%) rotateY(360deg);
        opacity: 0;

    }
}

@keyframes login-frame-animation-mobile-2{

    from{
        position: relative;
        transform: translate(-57.5%,250%);
        opacity: 0;
        scale: 4;
    }
    to{
        position: absolute;
        transform: translate(-57.5%,-50%) rotateY(360deg);
        opacity: 1;

    }
}

@keyframes signup-to-login-mobile {
    
    
    0%{
        transform: translate(0%,215%) rotateY(360deg);
        border-radius: 0px;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
    }
    70%{
        border-radius: 15%;
        scale:1.3;
    }
    100%{
        position: relative;
        transform: translate(0%,0%);
        border-radius: 0%;
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
    }
}

@keyframes register-frame-animation-mobile-1{
    from{
        opacity: 0;
        transform: translate(-57.5%,215%);
        scale: 4;
        
    }

    to{ opacity: 1;
        
        transform: translate(-57.5%,-110%) rotateY(360deg);
        box-shadow: 3px 3px 15px 2px blueviolet;
    }
}

@keyframes register-frame-animation-mobile-2{
    from{
        opacity: 1;
        transform: translate(-57.5%,-110%);

    }

    to{ opacity: 0;
        transform: translate(-57.5%,215%) rotateY(360deg);
        
    }
}